@model SantiyeYonetim.WebMVC.Models.Projects.ProjectListViewModel

@{
    ViewData["Title"] = "GetAllProjects";
    Layout = "~/Areas/ProjectAdmins/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div>
        <table>
            <tr>
                <td>Yeni proje eklemek için ekle butonuna tıklayınız</td>
                <td>:</td>
                <td> <a asp-area="ProjectAdmins" asp-controller="Projects" asp-action="Add">Proje Ekle</a></td>
            </tr>
        </table>
    </div>

    @if (Model != null)
    {
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Proje Adı</td>
                        <td>Proje Tİpi</td>
                        <td>Şirket Adı</td>
                        <td>Açıklaması</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in Model.Projects)
                    {
                        <tr>
                            <td>@project.Id</td>
                            <td>@project.Name</td>
                            <td>@project.ProjectType.Name</td>
                            <td>@project.Company.CompanyName</td>
                            <td>@project.Description</td>
                            <td><a href="/ProjectAdmins/Projects/ProjectDetails/@project.Id" id="categoryListTableButton">Detay</a></td>
                            <td><a href="/ProjectAdmins/Projects/Update/@project.Id" id="categoryListTableButton">Güncelle</a></td>
                            <td><a href="/ProjectAdmins/Projects/Delete/@project.Id" id="categoryListTableButton">Sil</a></td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    }
    else
    {
        <p>Hiç Kategori Bulunamadı</p>
    }
</div>

