@model SantiyeYonetim.WebMVC.Models.Projects.ProjectDetailViewModel

@{
    ViewData["Title"] = "ProjectDetails";
    Layout = "~/Areas/ProjectAdmins/Views/Shared/_Layout.cshtml";
}

<h1>ProjectDetails</h1>

<div class="container">

    @if (Model != null)
    {
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Proje Adı</td>
                        <td>Proje Tİpi</td>
                        <td>Şirket Adı</td>
                        <td>Açıklaması</td>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>@Model.Project.Id</td>
                            <td>@Model.Project.Name</td>
                            <td>@Model.Project.ProjectType.Name</td>
                            <td>@Model.Project.Company.CompanyName</td>
                            <td>@Model.Project.Description</td>
                        </tr>
                </tbody>
            </table>
        </div>
        <div>
            @if (Model.Project.ProjectBlocks != null)
            {
                <table class="table">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Blok Adı</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var projectBlock in Model.Project.ProjectBlocks)
                    {
                        <tr>
                            <td>@projectBlock.Id</td>
                            <td>@projectBlock.Name</td>
                            <td><a href="/ProjectAdmins/ProjectBlocks/ProjectBlockDetails/@projectBlock.Id" id="categoryListTableButton">Detay</a></td>
                            <td><a href="/ProjectAdmins/ProjectBlocks/Update/@projectBlock.Id" id="categoryListTableButton">Güncelle</a></td>
                            <td><a href="/ProjectAdmins/ProjectBlocks/Delete/@projectBlock.Id" id="categoryListTableButton">Sil</a></td>
                        </tr>
                    }
                </tbody>
                </table>    
            }
            else
            {
                <p>Hiç Block Bulunamadı</p>
            }
            

        </div>
    }
    else
    {
        <p>Hiç Kategori Bulunamadı</p>
    }
</div>



<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#UyeOl">
  Üye Ol
</button>

<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#Olustur">
  Olustur
</button>



<div class="modal fade" id="UyeOl" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Üye Ol</h4>
            </div>
            <form method="post" action="/home/uyeol">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Kullanıcı adınız
                        <input type="text" name="kullaniciad" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Kullanıcı şifreniz</label>
                        <input type="password" name="sifre" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Üye Ol</button>
                </div >
            </form >
        </div >
    </div>
</div>

<div class="modal fade" id="Olustur" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Üye Ol</h4>
            </div>

    <form asp-controller="Projects" asp-action="CreateProjectDetails" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ProjectId" class="control-label"></label>
            <input asp-for="ProjectId" name="ProjectId" value="@ViewBag.projectId" />
        </div>
        <div class="form-group">
            <label asp-for="BlockNumber" class="control-label"></label>
            <input asp-for="BlockNumber" id="BlockNumber" type="text" class="form-control" placeholder="Block Sayısı" />
            <span asp-validation-for="BlockNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FloorNumber" class="control-label"></label>
            <input asp-for="FloorNumber" id="FloorNumber" type="text" class="form-control" placeholder="Kat Sayısı" />
            <span asp-validation-for="FloorNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button class="btn badge-primary" type="submit" value="Add">Kaydet</button>
            @ViewBag.ProjectResultMessage
        </div>
    </form>
        </div >
    </div>
</div>